<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage of test project</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="jumbotron ">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a simple homepage for data visualisation from machine learning algorithm made in django framework with some JavaScript, CSS and HTML</p>
  <hr class="my-4">
  <p>Click green button below to go to data webpage!</p>
  <a class="btn btn-success btn-lg" href="/data/" role="button">Go to data</a>
</div>

</body>
</html>